# =========================
# macOS
# =========================
.DS_Store
.AppleDouble
.LSOverride
Icon

# =========================
# Xcode - Build & Cache
# =========================
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcresult

# =========================
# Xcode - User Settings
# =========================
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate

# =========================
# Secrets & Configurations
# =========================
*.xcconfig

# =========================
# Swift Package Manager
# =========================
.build/
.swiftpm/xcode/
.swiftpm/configuration/

# =========================
# CocoaPods (Optional)
# =========================
Pods/
/.bundle/
vendor/

# =========================
# Fastlane (Optional)
# =========================
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
